body {
  width: 1000px;
  margin: 0 auto;
  font-family: arial, times;
  color: white;
  background-color: slateblue;
  background-position: center-center;
}

h2 {
  border-bottom: 1px solid darkgray;
}

a {
  color: white;
  font-family: cursive;
}

p, li, th, td {
  font-size: 14px;
  font-height: 20px;
}

img {
  float: right;
  padding: 30px;
  border: 1px darkgray;
}

#barrett {
  float: left;
  height: 200px;
  margin-right: 40px;
}

#clare {
  float: left;
  background-color: darkgray;
  padding: 60px;
  border: 1px darkgray;
  margin-top: 15px;
  margin-bottom: 15px;
}