body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
}

.navbar .navbar-brand {
	font-family: 'Luckiest Guy', cursive;
	font-size: 36px;
	color: #ff3061;
	padding-top: 20px;
}

h2 {
  color: #3399FF;
}

ul {
  font-size: 15px;
  font-style: italic;
}