body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
}

.navbar .navbar-brand {
	font-family: 'Luckiest Guy', cursive;
	font-size: 36px;
	color: #ff3061;
	padding-top: 20px;
}
